
@media screen and (min-width:361px) and (max-width:420px){
    
    /* delivery city area desserts type container css code */

    .deliveryCityAreaDessertsTagLinesPClass{
        font-size:16px!important;
    }

    /*  what is desserts khazana css code */
     
    .whatIsDessertskhazanaTitlePClass{
        font-size:16px!important;
    }
    
    /* all store list specific dessert type css code*/
    
    .allStoresInfoNoteHeaderPClass{
        font-size:16px!important;
    }
    
    .countAllStoresSClass{
        font-size:16px!important;
    }
    
    .eachStoreInfoContainerDivClass{
        padding-right:0px!important;
        margin-bottom:5%!important;
    }
    
    /*  store all products css code */
    
    .storeProductFounCountInfoMsgDivClass{
        font-size:16px!important;
    }

    .storeProductBoxDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
    }
    
    .storeProductBoxDivClass .preloadProductImagesClass{
        height:auto!important;
        width:100%!important;
        background-repeat:no-repeat;
        background-size:cover;
    }

    .storeAllUserReviewedRatingLblSClass{
        font-size:18px!important;
    }

    .storeEachUserRatedReviewPClass{
        font-size:15px!important;
    }
    
    .storeEachUserAvgRatedReviewPClass{
        font-size:15px!important;
    }
    
    /*  view product css code  */
    
    .storeServingDessertsTypeNoteInfoLIClass{
        font-size:16px!important;
    }

    .vpd_productImagesContainerDivClass{
        margin-bottom:10px!important;
    }
    
    .vpd_productImagesContainerDivClass .preloadProductImagesClass{
        width:100%!important;
        height:auto!important;
    }
    
    .vpd_productDetailsWrapperDivClass{
        padding-left:0px!important;
        margin-bottom:10px!important;
        background-color:#fff!important;
        border:1px solid #e7e7e7!important;       
    }
    
    .vpd_productStoreNameContainerPClass{
        font-size:14px!important;
    }

    .vpd_productReviewAndRatingPClass{
        font-size:14px!important;
    }
    
    .vpd_storeDeliveryFromAreaToAreaPClass,
    .vpd_storeDeliveryFeeApplicableMsgPClass{
        font-size:14px!important;
    }
    
    .vpd_estimatedProductDeliveryTimePClass{
        font-size:14px!important;
    }
   
    .vpd_productSelectMeasurementLabelPClass{
        font-size:16px!important;
    }

    #productMeasurementSelectCtrlId{
        width:100%;
    }
    
    .vpd_productQtyInputClass{
        width:100%;
    }

    .vpd_ratingProductSelectCtrlClass{
        width:50%!important;
    }
    
    /*  myaccount sigup form css code */
    
    .userSignUpFormInfoWrapperDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
    }
    
    .userSignUpFormSectionContainerDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
        padding-top:10px!important;
        padding-bottom:10px!important;
        background:#fff!important;
        border:1px solid #e7e7e7!important;
    }
    
    .userSignUpFormSectionContainerDivClass div{
        padding-top:10px!important;
        padding-bottom:10px!important;
    }
    
    /*  myaccount sigin form css code */
    
    .userSignInFormInfoWrapperDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
    }
    
    .userSignInFormSectionContainerDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
        padding-top:10px!important;
        padding-bottom:10px!important;
        background:#fff!important;
        border:1px solid #e7e7e7!important;
    }
    
    /*  forgot password css code */
    
    .userForgotFormInfoWrapperDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
    }
    
    .userFrgtPwdFormSectionContainerDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
        background:#fff!important;
        border:1px solid #e7e7e7!important;
    }
    
    /* personal info edit mode display section css code */
    
    .uca_personalInfoEditSectionContainerDivClass input,
    .uca_personalInfoEditSectionContainerDivClass select{
        width:100%!important;
    }
    
    .uca_changepasswordInfoSectionContainerDivClass input{
        width:100%!important;
    }
    
    /* order cart section css code */
    
    .uca_ordercartSectionContainerDivClass .commonHorizontalSpaceDivClass{
        margin-bottom:10px!important;
    }
    
    .uca_ordercartSectionContainerDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
    }
    
    .ordercartRequestedItemShoppingBagIconClass{
        color:#00B9F5!important;
    }

    .uca_ordercartSectionMsgPClass{
        font-size:13px!important;
        color:#67717D!important;
        padding-left:0px!important;
        cursor:pointer;
    }
    
    .uca_ordercartSectionCheckoutBtnClass{
        font-size:11px!important;
        font-weight:normal!important;
        color:#fff!important;
        padding:3px!important;
        border-radius:0px!important;
        background:#ab0b38!important;
    }
    
    .uca_ordercartAllSectionHeaderContainerDivClass .owl-item{
        width:auto!important;
        margin-right:15px!important;
    }

    .uca_ordercartEachTabLabelSectionContainerLIClass{
        float:left!important;
        list-style-type:none!important;
        text-align:center!important;
        font-size:15px!important;
        font-weight:normal!important;
        font-family: serif!important;
        color:#67717D!important;
        padding:5px!important;
        border-bottom:1px solid #00B9F5!important;
        cursor:pointer!important;
    }

    .uca_ordercartSelectedTabLabelSectionContainerLIClass{
        color:#fff!important;
        border-bottom: 1px solid #cb202d!important;
        background:#cb202d!important;
    }
    

    /* order cart requested all item section css code */
    
    .uca_ordercartRequestedEachStoreProductItemDivClass{
        width:25%!important;
    }
    
    .uca_ordercartRequestedEachStoreItemDetailsDivClass{
        padding-right:0px!important;
        width:75%!important;
    }

    .ordercartRequestedEachItemInputQtyClass{
        width:100%!important;
    }

    .uca_ordercartRequestedEachStoreItemTotalAmtPClass{
        font-size:13px!important;
        color:#67717D!important;
    }

    .ordercartRequestedEachItemUpdateBtnClass,
    .ordercartRequestedEachItemUpdateBtnClass:hover{
        font-weight:normal!important;
        font-size:11px!important;
        color:#fff!important;
        padding:3px!important;
        border-radius:0px!important;
        background:#ab0b38!important;
        margin-right:1%!important;
    }

    .ordercartRequestedEachItemRemoveBtnClass,
    .ordercartRequestedEachItemRemoveBtnClass:hover{
        font-weight:normal!important;
        font-size:11px!important;
        color:#fff!important;
        padding:3px!important;
        border-radius:0px!important;
        background:#ab0b38!important;
    }

    .ordercartRequestedEachItemCheckoutBtnClass,
    .ordercartRequestedEachItemCheckoutBtnClass:hover{
        font-weight:normal!important;
        font-size:11px!important;
        color:#ab0b38!important;
        padding:3px!important;
        border-radius:0px!important;
        background:none!important;
    }

    .uca_ordercartRequestedSummaryDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
        padding-top:10px!important;
        padding-bottom:10px!important;
        margin-bottom:30px!important;
        border:1px solid #e7e7e7!important;
    }
    
    .uca_ordercartRequestedSummaryDivClass p{
        font-size:13px!important;
        color:rgb(70, 75, 80);
        padding-left:12px!important;
        margin-bottom:5px!important;
    }
    
    .uca_ordercartRequestedSummaryHeaderPClass{
        text-align:center!important;
        text-transform:uppercase!important;
        font-weight:normal!important;
        font-size:15px!important;
        color:#f17023!important;
        margin-bottom:4px!important;
    }
    
    .uca_ordercartRequestedSummaryOperationPClass{
        margin-top:14px!important;
    }
    
    .ordercartRequestedSummaryCheckoutBtnClass{
        font-size:12px!important;
        font-weight:normal!important;
        color:#fff!important;
        border-radius:0px!important;
        background-color:#ab0b38!important;
    }
    
    .uca_ordercartRequestedAllStoreNotFoundMsgDivClass{
        text-align:center!important;
    }
    
    .ordercartEmptyPClass{
        font-size:17px!important;
        color:#67717D!important;
    }

    .shoppingBagsIconClass{
        font-size:50px!important;
        color:#67717D!important;
    }

    .startShoppingBtnClass{
        font-weight:normal!important;
        font-size:15px!important;
        color:#fff!important;
        border-radius:0px!important;
        background:#00B9F5!important;
    }


    /* cancel order cart all item section css code */
    
    .uca_ordercartCancelledEachItemImageDivClass{
        width:25%!important;
    }
    
    .uca_ordercartCancelledEachItemDetailsDivClass{
        padding-right:0px!important;
        width:75%!important;
    }
    
    /* user party order css code */
    
    .po_createSectionDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
    }
    
    .po_formContentWrappperContainerDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
        padding-top:10px!important;
        padding-bottom:10px!important;
        margin-top:10px!important;
        background:#fff!important;
        border:1px solid #e7e7e7!important;
    }
    
    .po_thankyouContentWrapperContainerDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
        padding-top:10px!important;
        padding-bottom:10px!important;
        background:#fff!important;
        border:1px dotted #e7e7e7!important;
    }

    /* user customize order css code */

    .co_createSectionDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
    }
    
    .co_formContentWrappperContainerDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
        padding-top:10px!important;
        padding-bottom:10px!important;
        margin-top:10px!important;
        background:#fff!important;
        border:1px solid #e7e7e7!important;
    }

    /* checkout css code */
    
    .chkout_deliveryAddressHeaderPClass{
        font-size:11px!important;
    }
    
    .chkout_eachStoreOrderSummaryDivClass{
        padding-left:0px!important;
        padding-top:10px!important;
        padding-bottom:10px!important;
        border-top:1px dashed rgb(70, 75, 80);
    }
    
    .chkout_eachStoreBasicInfoLblPClass{
        font-size:11px!important;
    }
    
    .chkout_deliveryAddressInputBoxClass{
        width:100%!important;
    }
    
    .chkout_deliveryDateInputBoxClass{
        width:100%!important;
    }
}

