
@media screen and (min-width:1367px){
    
    /* delivery city area desserts type container css code */

    .deliveryCityListWrapperDivClass,
    .deliveryAreaListWrapperDivClass,
    .deliveryAreaDessertsTypeListWrapperDivClass{
        margin-left:30%!important;
    }
    
    /*  store all products css code */

    .storePriceFilterOperationDivClass,
    .storeProductSizeFilterOperationDivClass,
    .storeDiscountFilterOperationDivClass{
        margin-left:25%!important;
    }

    .storeProductBoxDivClass{
        padding-left:1px!important;
        width:20%!important;
    }
    
    .storeProductBoxDivClass .preloadProductImagesClass{
        height:auto!important;
        width:100%!important;
        background-repeat:no-repeat;
        background-size:cover;
    }
    
    /*  view product css code  */

    .vpd_productImagesContainerDivClass{
        padding-bottom:10px!important;
        padding-left:0px!important;
        padding-right:0px!important;
        padding-bottom:10px!important;
        background-color:#fff!important;
    }
    
    .vpd_productImagesContainerDivClass .preloadProductImagesClass{
        width:100%!important;
        height:auto!important;
    }
    
    .vpd_productDetailsContainerDivClass{
        padding-left:0px!important;
        background-color:#fff!important;
        border:1px solid #e7e7e7!important;
    }

    #productMeasurementSelectCtrlId{
        width:30%;
    }
    
    .vpd_productQtyInputClass{
        width:30%;
    }
    
    .vpd_ratingProductSelectCtrlClass{
        width:30%!important;
    }
    
    /*  myaccount signup form css code */
    
    .userSignUpFormSectionContainerDivClass{
        padding-top:10px!important;
        padding-bottom:10px!important;
        background:#fff!important;
        border:1px solid #e7e7e7!important;
    }
    
    /*  myaccount sigin form css code */

    .userSignInFormSectionContainerDivClass{
        padding-top:10px!important;
        padding-bottom:10px!important;
        background:#fff!important;
        border:1px solid #e7e7e7!important;
    }
    
    /*  forgot password css code */

    .userFrgtPwdFormSectionContainerDivClass{
        background:#fff!important;
        border:1px solid #e7e7e7!important;
    }
    
    /* personal info edit mode display section css code */
    
    .uca_personalInfoEditSectionContainerDivClass input,
    .uca_personalInfoEditSectionContainerDivClass select{
        width:20%!important;
    }
    
    .uca_changepasswordInfoSectionContainerDivClass input{
        font-size:12px!important;
        width:20%!important;
    }

    /* order cart section css code */

    .ordercartRequestedEachItemInputQtyClass{
        width:10%!important;
    }
    
    /* user party order css code */
    
    .po_formContentWrappperContainerDivClass{
        padding-top:10px!important;
        padding-bottom:10px!important;
        margin-left:25%!important;
        margin-top:10px!important;
        background:#fff!important;
        border:1px solid #e7e7e7!important;
    }

    .po_thankyouContentWrapperContainerDivClass{
        padding-top:10px!important;
        padding-bottom:10px!important;
        margin-left:25%!important;
        background:#fff!important;
        border:1px dotted #e7e7e7!important;
    }

    /* user customize order css code */

    .co_formContentWrappperContainerDivClass{
        padding-top:10px!important;
        padding-bottom:10px!important;
        margin-top:10px!important;
        margin-left:25%!important;
        background:#fff!important;
        border:1px solid #e7e7e7!important;
    }

    .co_thankyouContentWrapperContainerDivClass{
        padding-top:10px!important;
        padding-bottom:10px!important;
        margin-left:25%!important;
        border:1px dotted #e7e7e7!important;
        background:#fff!important;
    }
    
    /* checkout css code */
    
    .chkout_eachStoreOrderSummaryDivClass{
        padding-left:0px!important;
        padding-right:0px!important;
        padding-top:10px!important;
        padding-bottom:10px!important;
        border-top:1px dashed rgb(70, 75, 80);
    }
    
    .chkout_deliveryAddressInputBoxClass{
        width:30%!important;
    }
   
    .chkout_deliveryDateInputBoxClass{
        width:30%!important;
    }
    
}

